---
layout: default
tagline: Supporting tagline
---

{% include JB/setup %}
<ul id="post-list" style="background:#fff;">
	<li class="post text">
		<div class="body">
			<center>
<img src="{{ BASE_PATH }}/images/me.png" title="Napster" alt="Napster"/>
</center>
<p></p>
<p>
Hi, 我是章晓健，英文名Napster, 89年处女座码农一枚，浙江兰溪人。</p>

<p>
  喜欢的人物：James Gosling.
</p>
<p>
  喜欢的技术：JavaScript、Html/5、Css/3、NodeJS、Java、Less
</p>
<p>
  我的Github: <a href="http://www.github.com/napster99" target="_blank">http://www.github.com/napster99</a>
</p>
<p>
  我的邮件：<a href="mailTo:morrisonleisure@163.com">morrisonleisure@163.com</a> OR
  <a href="mailTo:zxjmychrome@gamil.com">zxjmychrome@gamil.com</a>

</p>
		</div>
	</li>
</ul>
{% include JB/comments %}

